@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "grotesk-light";
  src: url("../assets/fonts/Darker_Grotesque/static/DarkerGrotesque-Light.ttf");
}

@font-face {
  font-family: "grotesk-bold";
  src: url("../assets/fonts/Darker_Grotesque/static/DarkerGrotesque-Bold.ttf");
}

@font-face {
  font-family: "grotesk-regular";
  src: url("../assets/fonts/Darker_Grotesque/static/DarkerGrotesque-Regular.ttf");
}

@font-face {
  font-family: "grotesk-medium";
  src: url("../assets/fonts/Darker_Grotesque/static/DarkerGrotesque-Medium.ttf");
}

@font-face {
  font-family: "grotesk-semi-bold";
  src: url("../assets/fonts/Darker_Grotesque/static/DarkerGrotesque-SemiBold.ttf");
}

@font-face {
  font-family: "grotesk-extra-bold";
  src: url("../assets/fonts/Darker_Grotesque/static/DarkerGrotesque-ExtraBold.ttf");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /*Green */
  --color-bayfi-green-50: #f9fceb;
  --color-bayfi-green-100: #ebf4c2;
  --color-bayfi-green-200: #e1efa4;
  --color-bayfi-green-300: #d3e87b;
  --color-bayfi-green-400: #cbe461;
  --color-bayfi-green-500: #bedd3a;
  --color-bayfi-green-600: #adc935;
  --color-bayfi-green-700: #879d29;
  --color-bayfi-green-800: #697a20;
  --color-bayfi-green-900: #505d18;

  /*Black theme */
  --color-bayfi-black-50: #e8e8e8;
  --color-bayfi-black-100: #b8b8b8;
  --color-bayfi-black-200: #969696;
  --color-bayfi-black-300: #666666;
  --color-bayfi-black-400: #494949;
  --color-bayfi-black-500: #1b1b1b;
  --color-bayfi-black-600: #191919;
  --color-bayfi-black-700: #131313;
  --color-bayfi-black-800: #0f0f0f;
  --color-bayfi-black-900: #0b0b0b;
  /*Grey Color */

  --color-bayfi-grey-50: #fefefe;
  --color-bayfi-grey-100: #fbfbfb;
  --color-bayfi-grey-200: #f9f9f9;
  --color-bayfi-grey-300: #f6f6f6;
  --color-bayfi-grey-400: #f5f5f5;
  --color-bayfi-grey-500: #f2f2f2;
  --color-bayfi-grey-600: #dcdcdc;
  --color-bayfi-grey-700: #acacac;
  --color-bayfi-grey-800: #858585;
  --color-bayfi-grey-900: #0b0b0b;
  /*Text Color */

  --color-text-color-50: #edeeef;
  --color-text-color-100: #c7cacf;
  --color-text-color-200: #acb1b7;
  --color-text-color-300: #868d96;
  --color-text-color-400: #6f7782;
  --color-text-color-500: #4b5563;
  --color-text-color-600: #444d5a;
  --color-text-color-700: #353c46;
  --color-text-color-800: #292f36;
  --color-text-color-900: #20242a;

  /* Fonts  */
  --font-grotesk-light: "grotesk-light";
  --font-grotesk-bold: "grotesk-bold";
  --font-grotesk-regular: "grotesk-regular";
  --font-grotesk-medium: "grotesk-medium";
  --font-grotesk-semi-bold: "grotesk-semi-bold";
  --font-grotesk-extra-bold: "grotesk-extra-bold";

  /*--font-sans: var(--font-geist-sans);*/
  /*--font-mono: var(--font-geist-mono);*/
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

/*body {*/
/*  background: var(--background);*/
/*  color: var(--foreground);*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*}*/

.authDarkBackground {
  background-image: url("../assets/svg/authBlackBackground.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-neutral {
  display: flex;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.onBoardingBackground {
  background-image: url("../assets/svg/onboardingBg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mobileWrapper {
  background-image: url("../assets/svg/glowImage.svg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #f6f4f0;
  min-height: 100vh;
  height: 100%;
}

@media (max-width: 992px) {
  .hideContainer {
    display: none !important;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
